@media screen and (max-width: 1024px) {

  .columnContainer {
    margin-left: 300px;
    max-width: 960px;
    margin: 0 auto;
    }
}

html {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	background-color: #ffb5d0;
  text-align: center;
  margin: auto;
  padding: 0;
  position: absolute;
}


/*Title styles*/
.welcome {
  text-align: center;
	font-size: 5em;
  background-color: #e85a66;
  /*Margin dimensions for 1E6 and up*/
  margin: 10px auto 10px auto;
	font-family: 'Vidaloka', serif;
}

/*Styles for header2*/
.bannerText {
    margin: 50px;
	  font-size: 4em;
	  background-color: #e85a66;
    font-family: 'Dancing Script';
    margin: 1em; 
    padding: 10px;
    }

/* Don't give fixed widths the elements. Do them here.*/
  img.slides {
    width: 40%;
}
/*STYLES FOR SLIDESHOW GALLERY. DO NOT TOUCH!!*/

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  /* Hide the images by default */
.mySlides {
    display: none;
  }
  /* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /*Column styles.*/
  /* Create three equal columns that floats next to each other */
  * {
    box-sizing: border-box;
    position: relative;
    align-content: center;
  }
.column {
  float: left;
  width: 20%;
  padding: 10px;
  margin-left: 2em; /*spaces out columns*/
  word-wrap: break-word;
  justify-items: center

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;

}

.storeInfo {
  margin-right: 10px;
  font-size: 1.75em;
  font-family:'Vidaloka', serif;
}
/*IDs can be used to identify one element, whereas a class can be used to identify more than one.*/
#menuTitle {
  font-family: 'Dancing Script'; 
  font-size: 4em; 
  background-color: #e85a66; 
  margin-left: 15em; 
  margin-right: 15em;
}

#menuItem {
  font-size: 1.5em; 
  font-family: 'Vidaloka', serif;
}

#menuDesc {
  font-size: 25px; 
  font-style: italic;
}

/* Proper CSS for images*/
img.large {
  width: 500px;
  height: auto;
}

.columnMain {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    /*IMPORTANT. Fixes the title menu color BG. :D */
    position: relative;
}