body {
	background-color: #ffadb1;
	text-align: center;
}

h1 {
	font-size: 5em;
	background-color: #ff2e51;
	padding: 10px;
	font-family: 'Vidaloka', serif;
}

h2 {
	font-size: 2.5em;
	padding-bottom: 10px;
	font-family: 'Dancing Script';
}

.items {
	font-size: 2.5em;
	background-color: #ff2e51;
	font-family: 'Vidaloka', serif;
}

ul.nav {
    margin:0;
    padding:0;
    list-style:none;
    height:36px; line-height:36px;
    font-family: 'Vidaloka', serif;
    font-size:2em;
	display: inline-block;

}
ul.nav li {
    border-right:1px solid #000; /* you can change the border color matching to your background color */
    float:left;
    padding-right: 20px;
    margin-left: 30px;
}
ul.nav a {
    display:block;
    padding:0 28px;
    color:#ff2454;
    text-decoration:none;
}
ul.nav a:hover,
ul.nav li.current a {
    background-color:white;
}